<html ng-app="dstApp">

<head>
    <!-- jquery has to go before bootstrap -->
    <script src="assets/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="assets/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="assets/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="assets/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="assets/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="assets/js/controllers.js"></script>
    <script type="assets/js/dst.js"></script>
    <script type="test/jasmine/test.js"></script>
</head>
<style>
div {
    padding: 10px;
}

.checkmarkStyle {
    color: green;
}
</style>

<body ng-controller="CraftCtrl">
    <div></div>
    <div>
        <a href="http://dontstarve.wikia.com/wiki/Crafting#Don't Starve Together">DST wikia crafting tiers</a>
    </div>
    <div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addItem" style="width:100%">Add Item</button>
        <!-- Modal -->
        <div class="modal fade" id="addItem" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add an item to your list</h4>
                    </div>
                    <div class="modal-body">
                        <!-- <p>Some text in the modal.</p> -->
                        <form id="add-item-form" class="form-horizontal" role="form" ng-submit="addRow()">
                            <div>
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" ng-model="name" placeholder="Item name" required>
                            </div>
                            <div>
                                <label>Materials</label>
                                <input type="text" class="form-control" name="materials" ng-model="materials" placeholder="2 Twig, 2 Flint...">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Tab</label>
                                    <select type="text" class="form-control" name="tab" ng-model="tab">
                                        <option>Tools</option>
                                        <option>Light</option>
                                        <option>Survival</option>
                                        <option>Food</option>
                                        <option>Science</option>
                                        <option>Fight</option>
                                        <option>Structures</option>
                                        <option>Refine</option>
                                        <option>Magic</option>
                                        <option>Dress</option>
                                        <option>Ancient</option>
                                        <option>Book</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Tier</label>
                                    <select type="text" class="form-control" name="tier" ng-model="tier">
                                        <option>Always available</option>
                                        <option>Science Machine</option>
                                        <option>Alchemy Engine</option>
                                        <option>Prestihatitator</option>
                                        <option>Shadow Manipulator</option>
                                        <option>Ancient Pseudoscience Station T1</option>
                                        <option>Ancient Pseudoscience Station T2</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Damage</label>
                                    <input type="number" class="form-control" name="damage" ng-model="damage" placeholder="Damage value">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Durability</label>
                                    <input type="number" class="form-control" name="durability" ng-model="durability" placeholder="Durability value">
                                </div>
                                <div class="col-md-4">
                                    <label>Perk</label>
                                    <input type="text" class="form-control" name="perk" ng-model="perk" placeholder="Used for ...">
                                </div>
                                <div class="col-md-4">
                                    <label>Stacks</label>
                                    <input type="text" class="form-control" name="stacks" ng-model="stacks" placeholder="No, Stacks up to...">
                                </div>
                            </div>
                            <div>
                                <label>Debug Spawn</label>
                                <input type="text" class="form-control" name="debug" ng-model="debug" placeholder="Optional for console users' reference..">
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <i ng-show="checkmark == true" class="fa fa-check fa-2x checkmarkStyle" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <h4>{{alert}}</h4>
                                </div>
                            </div>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" value="Submit" class="btn btn-primary" style="width: 80%;">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Search for an item:</h3>
        <input type="text" class="form-control ng-valid ng-dirty" ng-model="searchKeyword" placeholder="Search for crafting item here">
    </div>
    <table class="table">
        <tr>
            <th>
                <a>ID</a>
            </th>
            <th>
                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Item Name</a>
            </th>
            <th>
                <a ng-click="sortType = 'materials'; sortReverse = !sortReverse">Materials</a>
            </th>
            <th>
                <a ng-click="sortType = 'tab'; sortReverse = !sortReverse">Tab</a>
            </th>
            <th>
                <a ng-click="sortType = 'tier'; sortReverse = !sortReverse">Tier</a>
            </th>
            <th>
                <a ng-click="sortType = 'damage'; sortReverse = !sortReverse">Damage</a>
            </th>
            <th>
                <a ng-click="sortType = 'durability'; sortReverse = !sortReverse">Durability</a>
            </th>
            <th>
                <a ng-click="sortType = 'perk'; sortReverse = !sortReverse">Perk</a>
            </th>
            <th>
                <a ng-click="sortType = 'stacks'; sortReverse = !sortReverse">Stacks</a>
            </th>
            <th>
                <a ng-click="sortType = 'debug'; sortReverse = !sortReverse">Debug Spawn</a>
            </th>
        </tr>
        <tr ng-repeat="i in items | orderBy:sortType:sortReverse  | filter: searchKeyword " class="ng-scope">
            <td><div>{{$index}}</div></td>
            <td>
                <div ng-hide="editData[i.id]">{{i.name}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.name">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.materials}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.materials">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.tab}}</div>
                <div ng-show="editData[i.id]">
                    <select type="text" ng-model="i.tab">
                        <option>Tools</option>
                        <option>Light</option>
                        <option>Survival</option>
                        <option>Food</option>
                        <option>Science</option>
                        <option>Fight</option>
                        <option>Structures</option>
                        <option>Refine</option>
                        <option>Magic</option>
                        <option>Dress</option>
                        <option>Ancient</option>
                        <option>Book</option>
                    </select>
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.tier}}</div>
                <div ng-show="editData[i.id]">
                    <select type="text" ng-model="i.tier">
                        <option>Always available</option>
                        <option>Science Machine</option>
                        <option>Alchemy Engine</option>
                        <option>Prestihatitator</option>
                        <option>Shadow Manipulator</option>
                        <option>Ancient Pseudoscience Station T1</option>
                        <option>Ancient Pseudoscience Station T2</option>
                    </select>
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.damage}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.damage">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.durability}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.durability">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.perk}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.perk">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.stacks}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.stacks">
                </div>
            </td>
            <td>
                <div ng-hide="editData[i.id]">{{i.debug}}</div>
                <div ng-show="editData[i.id]">
                    <input type="text" ng-model="i.debug">
                </div>
            </td>
            <td>
                <button ng-hide="editData[i.id]" type="button" value="Edit" class="btn btn-default" ng-click="editRow(i)">Edit</button>
                <button ng-show="editData[i.id]" type="button" value="Update" class="btn btn-default" ng-click="updateRow(i)">Update</button>
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(i.name)">
            </td>
        </tr>
    </table>
</body>

</html>